 body{
                margin: 0%;
                padding: 0%;
                font-family: 'Poppins', sans-serif;
                background-image: url("https://wallpapercave.com/wp/wp3090384.jpg");
                background-size: cover;
            }

            header{
                position: relative;
                max-width: 1200px;
                margin: 20px auto;
                padding: 10px;
                background: #fff;
                box-sizing: border-box;
                border-radius: 4px;
                box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
            }

            .logo{
                color: #6495ED;
                height: 60px;
                font-size: 36px;
                line-height: 60px;
                padding: 0 20px;
                background: #ccc;
                text-align: center;
                box-sizing: border-box;
                float: left;
                font-weight: 700px;
                text-decoration: none;
            }

            nav{
                float: right;
            }

            .clearfix{
                clear: both;
            }

            nav ul{
                margin: 0%;
                padding: 0%;
                display: flex;
            }
            
            nav ul li{
                list-style: none;
            }

            nav ul li a{
                display: block;
                margin: 10px 0;
                padding: 10px 20px;
                text-decoration: none;
                color: 	#1E90FF;
            }

             
            nav ul li a:hover {
                color: magenta;
                transition: 0.5s;
            }

            @media (max-width: 1200px){
                header{
                    margin: 20px;
                }
            }
            
            @media (max-width: 768px){
                .menu-toggle{
                    display: block;
                    width: 40px;
                    height: 40px;
                    margin: 10px;
                    background: #cccccc;
                    float: right;
                    cursor: pointer;
                    text-align: center;
                    font-size: 30px;
                    color: #069370;
                }

                .menu-toggle::before{
                    content: '\f0c9';
                    font-family: fontAwesome;
                    line-height: 40px;
                }

                .menu-toggle.active::before{
                    content: '\f00d';
                }

                nav{
                    display: none;
                }

                nav.active{
                    display: block;
                    width: 100%;
                }

                nav.active ul{
                    display: block;
                }
                
                
                nav.active ul li{
                    margin: 0;
                }
			}